@using BlazorApp1.Data.Models
@using BlazorApp1.Data.Services
@inject NavigationManager _navigationManager

<div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="teni">
          <h1>Международная транспортная компания</h1>
          <h4 class="b1">Мы каждый день доставляем грузы различных категорий и объемов до самых удаленных и труднодоступных регионов. Это делает сотрудничество с нами удобным и выгодным.</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container w">
    <div class="row centered">
      <br><br>
      <div class="col-lg-4">
        <i class="fa fa-car"></i>
        <h4>Забор и доставка</h4>
        <p>Международная транспортная компания «Энергия» оказывает комплексные услуги по забору и перевозке груза. Услуга осуществляется, как между нашими терминалами, так и «от двери до двери». Мы также произведем погрузо-разгрузочные работы и упакуем груз для сохранной перевозки.</p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-archive"></i>
        <h4>Упаковка груза</h4>
        <p>Международная транспортная компания «Энергия» предоставляет большой выбор упаковки, которая защитит Ваш груз во время перевозки. Разные виды упаковки можно комбинировать друг с другом для обеспечения ещё большей сохранности груза.</p>
      </div>
      <div class="col-lg-4">
        <i class="fa  fa-shield"></i>
        <h4>Страхование грузов</h4>
        <p>Международная транспортная компания «Энергия» организует страхование грузов. Мы максимально заботимся о сохранности доставляемых грузов, поэтому наша компания сотрудничает с одним из самых надежных страховых партнеров.</p>
      </div>
    </div>
    <br><br>
  </div>

  <div class="container wb">
    <div class="row centered">

      <div class="col-lg-8 col-lg-offset-2">
        <h4 align=center>География перевозок</h4>
        <p>Широкий географический охват терминалов в России, Республики Беларусь, Казахстана, Киргизии, Китая сокращает время обработки и перевозки заказов. Cегодня отделения «Энергии» находятся в 416 городах.

Мы каждый день доставляем грузы различных категорий и объемов до самых удаленных и труднодоступных регионов. Это делает сотрудничество с нами удобным и выгодным.</p>

      </div>


    </div>
  </div>



@code {

}
