@page "/Customers"
@using BlazorApp1.Components.CustomersList


<PageTitle>Customers</PageTitle>


<CustomersList/>

<div class="row">
    <div class="col-md-9 "> </div>
    <div class="col-md-2">
        <a href="/Customer/create">
        <div class="add_customer" >Создать</div>
        </a>
    </div>
    <div class="col-md-1 "> </div>
</div>


